.img-centrada{ 
display:block;  
margin-left: auto;  
margin-right: auto; 
display: table-cell; 
vertical-align: middle; } 

body {background-color: rgb(27, 27, 27)}
h1 {font-weight: bold}
h1:hover {background-color: orange; color: black}
* {margin: 5px; padding: 5px; color: white; font-family: 'Times New Roman', Times, serif}