table {
  margin:20px auto;
  caption-side:top;
  border: 2px solid blue
}
td{border:2px solid black;}
th {border:3px dotted orange}
#tabla-colapsada{
  table-layout: auto;
  width:100%;
  border-collapse: collapse;
  border:4px solid green
}

#tabla-separada{
  table-layout:fized;
  width: 50%;
  border-collapse:separate;
  border-spacing:10px 20px;
  border:2px solid deeppink;
}